<div class="row">
  <div class="span3" id="sidebar">
    <div id="facettes-view" class="facettes well sidebar-nav"></div>
  </div>

  <div id="movies-container" class="span9">
    <div class="row">
      <div class="span9">
        <h2>Fake Movies</h2>
      </div>
    </div>
    <div class="row">
      <div class="span9" id="table-view">
      </div>
    </div>

    <a class="btn" href="#/new">New Movie</a>
  </div>
</div>
</div>
