<div class="row">
  <div class="span12">
<h2><%=title%></h2>
  </div>
</div>

<div class="row">
  <div class="span12">
<p>
  <b>Category:</b>
  <%= category %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>
  </div>
</div>

<a class="btn" href="#/index">Back</a>
