<!DOCTYPE html>
<html>
<head>
  <title>Moviedb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row" id="header">
     <div class="span12">
       <img src="/assets/logo.png" />
       <h1 class="muted">Movie-Database</h1>
       <p class="pull-right" id="status">
       </p>
     </div>
  </div>
  <%= yield %>
</div>

</body>
</html>
